spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://{host_value}:5432/overwatch_db
    username: overwatch_db_user
    password: { password_value }
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

server:
  port: ${PORT:8080}

logging:
  level:
    com.overwatch.patchtracker: INFO
    org.hibernate: WARN
